@charset "utf-8";
/* CSS Document */



.box {

	width:730px;
	min-width: 300px;
	border: solid 1px #F00;


}

.box > span {

	position: absolute;
	width:730px;
	height:40px;
	padding:3px 0;
	background-image: linear-gradient(to top, #CCC, #FFF);
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow:inset 1px 1px 10px #FFF;

}

.conteiner_vert{

	margin:20px;
	width:730px;
	height:auto;
	padding:10px;
	border-radius:10PX;
	background:#EEE;
	box-shadow:inset 5px 5px 300px  #f6f6f6;
	background-image:linear-gradient(to left, #f4f4f4, #FFF, #f4f4f4 100%);
	}



.exibevert{

	width:730px;
	height:auto;
	border:4px solid #FFF;
	margin:5px;
	margin-bottom:40px;
	background-image: linear-gradient(to top, #DDD, #FFF);
	border-radius:5px;
	border-radius: 30px;
	padding-bottom:20px;
	box-shadow:1px 1px 10px #999;
	}
.exibevert .titulo{/*titulo da postagem vertical*/

	width:100%;
	height:40px;
	padding:3px 0;
	background-image: linear-gradient(to top, #CCC, #FFF);
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow:inset 1px 1px 10px #FFF;

	}
.exibevert div h2{
	height:40px;
	line-height:40px;
	color: #960;
	text-shadow:1px 1px 1px #FFF;
	}
.exibevert .img{

	width:100%;
	height:180px;
	background:#FFF;
	overflow:hidden !important;
	border-bottom:1px solid #DDD;
	}
.exibevert .img img{

	width:230px;
	height:auto;
	min-height:130px;
	}
.exibevert .img img:hover{
	/*width:auto;*/
	}
.exibevert .texto{

	width:700px;
	padding:5px;
	border:1px solid #DDD;
	outline:1px solid #CCC;
	outline-offset:1px;
	margin:10px;
	margin-bottom:5px;
	height:auto;
	overflow:hidden !important;
	background:#FFF;
	color:#666;
	text-shadow:1px 1px 1px #FFF;
	
	}
.exibevert .tumbs{

	margin:4px;
	margin-left:6px;
	margin-bottom:8px;
	width:auto;
	height:auto;
	margin-top:15px;
	border:1px solid #DDD;
	padding:2px;
	
	overflow:hidden;
	
	
	}

.exibevert .tumbs img{

	width:70px;
	height:58px;
	box-shadow:1px 2px 4px #FFF;
	padding:1px;
	margin-left:1px;
	border-radius:5px;
	background:#999;
	
	}
.exibevert .tumbs img:hover{ opacity:0.6}

@font-face{
	font-family: 'HARLOWSI';
	font:url("../fonts/HARLOWSI.TTF");
	}

.exibevert .comprar{

	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	text-align:center;
	line-height:50px;
	bottom:-20px;
	right:-20px;
	width:200px;
	margin:10px;
	margin-top:19px;
	height:50px;
	box-shadow: inset 0 2px 3px 0  #096, inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0  #096;
	background-image: linear-gradient(to top, #096, #4DA);
	padding:2px;
	border-radius:20px;
	color:#f4f4f4;
	text-shadow:1px 1px 1px #063;
	
	}
.exibevert .comprar:hover{
	box-shadow: inset 0 2px 3px 0  #096, inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0  #096;
	background-image: linear-gradient(to top, #096, #4DA);
	border-radius:20px;
	text-shadow:1px 1px 1px #063;
}
.exibevert .banner{

	background:#DDD;
	width:498px;
	height:178px;
	border:1px solid #FFF;
	border-left-color:#e4e4e4;
	}
.exibevert .banner img{

	width:498px;
	height:178px;
	}











