@charset "utf-8";
/* CSS Document */

@import url(home-prdutos.css);
@import url(menu.css);
@import url(menuCategorias.css);
@import url(reseta.css);
@import url(droid.css);
@import url(autobrasil.css);

body {
	background: #f4f4f4;
	font-family:droid_sansregular;
	webkit-text-stroke: 0.6px; 
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
.ev_topo {
	float: left;
	width: 100%;
	height: 150px;
	background-image: linear-gradient(to bottom, white, #CCC);
}
.topo {
	margin: 0 auto;
	width: 1000px;
	height: 150px;
	background: url(../imagens/extruturais/logo_base.png) no-repeat;
	background-position: 0 20px;
}
.topo h1 {
	color: #333;
	float: left;
	margin: 20px 20px 20px 120px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	text-shadow: 1px 1px 1px #000;
}
.topo h1 strong {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 26px;
	color: #666;
	text-shadow: 1px 1px 1px #FFF;
}
.topo .topContato{
	float:right;
	width:440px;
	height:100px;
	margin-top:50px;
	text-align:center;
	}
.topo .topContato p{ color:#999;}
.topo .topContato h2{
	color: #3366FF;
	text-shadow:1px 1px 1px #FFF;
	font-size:46px;
	}

.ev_slide {
	float: left;
	width: 100%;
	height: 250px;
	background: url(../imagens/extruturais/fundo-slide.jpg) #000;
	border-bottom: 1px solid #CCC;
}

/*--------------conteudo-----------------conteudo--------------*/
.ev_conteudo{
	float:left;
	width:100%;
	min-height:600px;
	border-top:1px solid #666;
	border-bottom:1px solid #CCC;
	background:#f4f4f4;
	}
	
.conteudo{
	margin:0 auto;
	width:1000px;
	min-height:600px;
	}
/*--------------Rodape-----------------rodape--------------*/

.ev_rodape {
	float: left;
	width: 100%;
	height: 250px;
	background: #999;
	border-top:2px solid #666;
	padding-bottom:10px;

}
.rodape {

	margin: 0 auto;
	width: 1000px;
	height: 250px;
}

ul.rodape{
	float:left;
	width:150px;
	height:210px;
	margin:10px;
	padding:10px;
	
	}
ul.rodape li a{
	color:#666;
	font-weight: bold;
	text-shadow:1px 1px 1px #CCC;
	font-family:"Arial Black", Gadget, sans-serif;
	border-bottom:1px solid #666;
	float:left;
	width:100%;
	padding:5px;
	border-radius:10px;
	margin:3px;
	box-shadow:1px 1px 1px #AAA;
	}
ul.rodape li a:hover{
	color:#900;
	background:#CCC;
	box-shadow:inset 2px 2px 10px #333;
	}
#div-rodape{
	float:left; 
	width:350px; 
	height:200px; 
	padding:10px; 
	background-image:radial-gradient(circle, #DDD, #888); 
	margin:20px;
	box-shadow:inset 2px 2px 50px #000, 0 1px 5px #DDD;
	border:3px double #666;
	border-radius:20px;
	}

.box_erro {
	width: 90%;
	height: 190px;
	margin: 5px;	
}

.aviso_erro {
	font-family: "Arial Black";
	font-size: 2em;	
	color:#F60;

	text-align:center;
	
}

.aviso_texto {
	font-family: "Arial";
	text-align:center;
	line-height: 50px;
	color:#666;
	
}

#myCarousel {
	width: 100%;
	height: 300px;
	background: url(../imagens/extruturais/fundo-slide.jpg) repeat;

}

li.subcategoria-item{
	color:#F00;
	text-align:center;
	
}
.breadcrumbs > p{
	color:#333;
	text-shadow: 1px 1px 1px #CCC;
}

 #geral img{border:2px solid white;}
 
 /*Change the colour*/
 .active img{border:2px solid #333 !important;}



.bt-carrinho {
	position: absolute;
	font-size: 12px;
	left: 50%;
	margin-left: 70px;
	width: 450px;
	height: 40px;
	background-color: #CCC;
	border-radius: 0 0  10px 10px;
	border-left: solid 1px #AAA;
	border-right: solid 1px #AAA;
	border-bottom: solid 1px #AAA;
	box-shadow:2px 2px 6px #DDD;
	
}

.bt-carrinho > a   {
	
	position: absolute;
	text-align: center;
	margin-left: 190px;
	margin-top:  10px;
	color: #666;


}

.bt-carrinho > a.login {

	position: absolute;
	margin-left: 10px;
}

.bt-carrinho > a.cadastrar {

	position: absolute;
	margin-left: 80px;
}

.bt-carrinho > a.logout {

	position: absolute;
	margin-left: 350px;
}



.ajuste-container {

	width: 80%;

}

.ajuste-conteudo {

	width: 100%;

}


.content {

	width: 100%;

}

.tab-content {

	

}

.format-descricao > p {

	margin: 3px;
	font-size: 12px;
}

.galeria {
	margin: 0 auto;
	margin: 5px;
}

.galeria > img {

	position: relative;
	margin-left: 3%;

}

.preco-texto {
	font-size: 2.0em;
	color: #d35400;
}

.preco-texto > strong {
	color: #000;

}



.campotexto {
	width: 50%;
}

.campodata {
	width: 30%;	
}
.campodocs {
	min-width: 30%;
}

.campocep {
	width:  36%;	
}

.campopreco {
	width: 17%;

}

.campotel {
	width: 17%;

}