@charset "utf-8";
/* CSS Document */
.conteiner_vert{
	float:right;
	margin:20px;
	width:730px;
	height:auto;
	padding:10px;
	border-radius:10PX;
	background:#EEE;
	box-shadow:inset 5px 5px 300px  #f6f6f6;
	background-image:linear-gradient(to left, #f4f4f4, #FFF, #f4f4f4 100%);
	}



.vert{
	float:left;
	width:230px;
	height:350px;
	border:1px solid #DDD;
	margin:5px;
	margin-bottom:40px;
	background-image: linear-gradient(to top, #DDD, #FFF);
	border-radius:5px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	box-shadow:1px 1px 3px #999;
	}
.vert .titulo{/*titulo da postagem vertical*/
	float:left;
	width:100%;
	height:40px;
	padding:3px 0;
	background-image: linear-gradient(to top, #CCC, #FFF);
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow:inset 1px 1px 10px #FFF;

	}
.vert div h2{
	height:40px;
	line-height:40px;
	color: #960;
	text-shadow:1px 1px 1px #FFF;
	}
.vert .img{
	float:left;
	width:100%;
	height:130px;
	background:#000;
	overflow:hidden !important;
	}
.vert .img img{
	float:left;
	width:230px;
	height:auto;
	min-height:130px;
	}
.vert .img img:hover{
	/*width:auto;*/
	}
.vert .texto{
	float:left;
	width:200px;
	margin:10px;
	margin-bottom:5px;
	height:90px;
	overflow:hidden !important;
	background:none;
	color:#666;
	text-shadow:1px 1px 1px #FFF;
	
	}
.vert .tumbs{
	float:left; 
	margin:4px;
	margin-left:6px;
	margin-bottom:8px;
	width:215px;
	height:40px;
	border:1px solid #DDD;
	padding:2px;
	
	overflow:hidden;
	
	
	}

.vert .tumbs img{
	float:left;
	width:50px;
	height:38px;
	box-shadow:1px 2px 4px #FFF;
	padding:1px;
	margin-left:1px;
	border-radius:5px;
	background:#999;
	
	}
.vert .tumbs img:hover{ opacity:0.6}


.vert .leiaMais{
	display:inline;
	bottom:-20px;
	right:-20px;
	width:100px;
	margin:10px;
	height:30px;
	box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
	background-image: linear-gradient(to bottom, #FFF, #999 130%);
	padding:5px;
	border-radius:5px;
	border-top-left-radius:0;
	border-top-right-radius:10px;
	color:#666;
	text-shadow:1px 1px 1px #FFF;
	
	}
.vert .leiaMais:hover{
	background-image:none;
	background-color: #096;
	border: 1px solid #009821;
				/*property | duration | timing-function | dalay*/
	/*transition: all 1s linear 0.001s;*/
	color:#FFF;
	text-shadow:none;
	border-radius:5px;

}