@charset "utf-8";
/* CSS Document */
.ev_menu {
	float: left;
	width: 100%;
	height: 40px;
	background: #EEE;
	background-image: linear-gradient(to top, white, #CCC) 150%;
}
.ev_menu .menu {
	margin: 0 auto;
	width: 1000px;
	height: 40px;

}
.ev_menu .menu ul {
	float: left;
	width: 700px;
	height: 40px;
	background: none;
}
.ev_menu .menu ul li {
	float: left;
	width: auto;
	padding: 0 5px;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid #f4f4f4;
	box-shadow: 2px 1px 5px #999;
	background-image: linear-gradient(to bottom, #FFF, #CCC);
	text-align: center;
	margin-right:1px;
	border-right:1px solid #FFF;
	margin-top: 1px;
	text-shadow: 1px 1px 1px #FFF;
}
.ev_menu .menu ul li:hover {
	background-image: linear-gradient(to bottom, #f3f3f3, #FFF);
	text-shadow: none;
	box-shadow:0 -10px 80px #FFF;
}
.ev_menu .menu ul li a {
	float: left;
	width: auto;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-weight:bold;
}
.ev_menu .menu #chat {
	background-image: linear-gradient(to bottom, #f3f3f3, #FFF) 130%;
	padding: 0 10px;
	box-shadow: 0 0 3px #777, inset 2px 2px 10px #FFF;
	float:right;
}

#formBusca{
	float:right;
	background-color:#DDD;
	/*background-color:#4fd8e8;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.4) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4));*/
transition: all .5s;
	padding:5px 20px;
	border-radius:30px;
	border-top-left-radius:0;
	}
#formBusca:hover { 
	background-color:#36F;
 	box-shadow:inset 6px 1px 3px #333333; 
	
	}
#formBusca input[type="search"]{
	height:30px;
	border-radius:10px;
	background:#f4f4f4;
	outline:none;
	padding-left:7px;
	}
#formBusca input[type="submit"]{
	height:30px;
	border-radius:10px;
	background:#f4f4f4;
	outline:none;
	padding:0 7px;
	}








