@charset "utf-8";
/* CSS Document */
.ev_menuCateg{
	float:left;
	width:200px;
	height:100%;
	min-height:auto;
	border-right:1px solid #DDD;
	padding-right:2px;
	box-shadow:inset 0 -3px 5px #FFF;
	margin-bottom:20px;
	}
#bt-categ{
	float:left;
	margin:5px auto;
	margin-bottom:0;
	background:#FFF;
	position:relative;
	width:100%;
	padding:5px 0;
	text-align:center;
	border-top-left-radius:20px;
	box-shadow:inset 0 0 50px #999;
	border:1px solid #999;
	border-bottom:0;
	border-right:0;
	}
#bt-categFoot{
	float:left;
	margin:5px auto;
	margin-top:0;
	background:#FFF;
	position:relative;
	width:100%;
	height:20px;
	padding:5px 0;
	text-align:center;
	border-bottom-left-radius:20px;
	box-shadow:inset 0 0 50px #999;
	border:1px solid #999;
	border-bottom:0;
	border-right:0;
	}
#bt-categ a{
	color:#900;
	}
	
.ev_menuCateg ul li{
	float:left;
	width:100%;
	background:#EEE;
	border-bottom:1px dotted #CCC;
	}
	.ev_menuCateg ul li:hover{ background:#FFF;}
.ev_menuCateg ul li a{
	float:left !important;
	line-height:30px;
	width:100%;
	color:#666;
	text-shadow:1px 1px 1px #FFF;
	padding-left:5px;
	}
.ev_menuCateg ul li a:hover{
	/*background-image:linear-gradient(to top, #CCC, #FFF);*/
	color:#F60;
	}
















