@charset "utf-8";
/* CSS Document */
#ev_paginacao{
	float:left;
	width:100%;
	height:40px;
	}
.btPaginacaoB{
	padding:5px 10px;
	border:1px solid #DDD;
	border-radius:7px;
	box-shadow:inset 1px 1px 3px #999;
	}
.btPaginacaoB:hover{
	background:#f9f9f9;
	}
.btPaginacao{
	padding:5px 10px;
	border:1px solid #DDD;
	border-radius:7px;
	box-shadow:inset 1px 1px 3px #999;
	}
#active{
	background:#EEE;
	cursor:none;
	color:#F00;
	}