			.wrapper {
				background-color: white;
				width: 100%;
				margin: 40px auto;
				padding: 20px;
				height: 140px;
				box-shadow: 0 0 5px #999;
			}
			.list_carousel {
				margin: 0 0 30px 5px;
				width:  100%;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;

				width: 200px;
				height: 200px;
				padding: 0;
				margin: 6px 0 auto;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}