
        <div class="container">
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Auto Brasil <b class="laranja"><i>Franquias</i></b>!!</h2>
					<p>
                    
                    Nossa Missão é semear o futuro financeiro de nossos franqueados e contribuir para o crescimento de nossa Nação, partindo da juventude, através do desenvolvimento humano, empresarial e automotivo agregando valores e rompendo paradigmas. 
                    
                    </p>
					<a href="#" class="da-link">Leia mais</a>
					<div class="da-img"><img class="img2" src="parallax/images/4.png" alt="image01" /></div>
				</div>
                
				<div class="da-slide">
					<h2>Franquia virtual!!</h2>
					<p>
                    <b>Seja um franqueado</b>
                    Um projeto para franqueados que vão operar via internet. Disponibilizamos materiais virtuais para que o franqueado divulgue nossos serviços. O Custo de investimento na abertura da franquia é de R$ 4.700,00 podendo variar de acordo com sua necessidade de equipamento de internet, computador, etc. Seu ponto de equilíbrio (objetivo do investimento) pode ser atingido já nos primeiros meses e a lucratividade líquida pode variar de 20% a 300% ao mês. 

                    </p>
					<a href="#" class="da-link">Ler mais...</a>
					<div class="da-img"><img class="img3" src="parallax/images/3.jpg" alt="image01" /></div>
				</div>
				
        </div>
		