@charset "utf-8";
/* CSS Document */

.ev_creditos{
	float:left;
	width:100%;
	height:50px;
	background:#333;
	box-shadow: 0 1px 5px #333;

	}
.creditos{
	margin:0 auto;
	width:1000px;
	height:20px;
	padding:10px 0;
	text-align:center;
	}
	
.creditos > p {
	font-face:arial;
	color:#AAA;
	font-weight:bold;
	text-shadow: 0 1px #CCC;	
}