/* CSS Document */

@import url(../bootstrap/css/bootstrap.css);
@import url(../bootstrap/css/bootstrap-theme.css);
@import url(../bootstrap/css/datepicker.css);


body {
	background: #34495e;

}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

label.control-label {
	color:#333;	
}

form.form-horizontal > fieldset > legend {
	color:#333;	
}

.login-form {
	width: 400px;	
}

.titulo-painel {
	font-weight:bolder;
	color:#333;	
}

input#cpLogin.input-xlarge {
	border-radius: 5px;	
}

input#cpSenha.input-xlarge {
	border-radius: 5px;	
}
.meio-container{
	background-color:#FFF;	
}

.topo-admin {
	background-image: linear-gradient(to top, #333,#666);
	border:solid 1px #333333;
	box-shadow: 1px 1px 10px #333;
		
}

ul.nav.navbar-nav.navbar-right > li > a {
	color:#FFF;	
}

ul.nav.navbar-nav >  li.active a {
	color:#FFF;
	background:none;
}

ul.nav.navbar-nav >  li a {
	color:#FFF;	
}

li.dropdown > ul.dropdown-menu > li > a {
	color:#333;	
}

.main-container {
	position: absolute;
	background:#FFF;
	width: 80%;
	margin-left:  10%;

	padding-top: 60px;
	min-height: 100%;
	height:  auto;
	overflow: hidden;

	border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;


}

.edituser-container {
	position: relative;
	background:#FFF;
	width: 90%;
	padding-top: 60px;
	height: 100%;
	min-height: 100%;


}

.fill {
	height: auto; !important
	min-height:100%;
	border-collapse:collapse;
}

.map {
	
}

.franquia-rows {
	
	padding: 5px;
	
}

div.control-group > div.controls {
	width: 100px;	
}

.form-busca {
	margin-bottom: 50px;
	
}

.campotexto {
	width: 50%;
}

.campodata {
	width: 30%;	
}
.campodocs {
	min-width: 30%;
}

.campocep {
	width:  36%;	
}

.campopreco {
	width: 17%;

}

.campotel {
	width: 17%;

}

#buscaCepLoading {
	display:none;	
}

.aviso {
	width: 50%;
	display:none;	
}

textarea#cpSlogan.form-control {
	width: 50%;	
}

.grid-margin {

	margin-bottom: 5px;
}


.texto-input {

	position: relative;
	z-index: 10;
}

.texto-input input {
	 padding-left: 60px;
	
}

.texto-input i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	z-index: 20;
}



.input-group-addon
{
    background-color: rgb(52, 73, 94);
    border-color: rgb(40, 94, 142);
    color: rgb(50, 50, 50);
}
.form-control:focus
{
    background-color: rgb(255, 255, 255);
    border-color: rgb(40, 94, 142);
    color: rgb(50, 50, 50);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }


.login-container {
  margin: 0 auto;
  width: 400px; /* Whatever exact width you are looking for (not bound by preset bootstrap widths) */
}



.bt_espaco {

	margin: 10px;

}

.move-down{

	margin: 0 auto;

}

.pos_login {
	height: 300px;
	top: 50%;
	margin-top: 150px;
}

.campo_edittexto {
	width: 800px;
	height: 500px;
	overflow:scroll; 
	max-height:300px;
	margin: 0 auto;
	margin-bottom: 40px;
}



.btn-login { 
  color: #ffffff; 
  background-color: #1A1A1A; 
  border-color: #858585; 
} 
 
.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #ffffff; 
  background-color: #4D4D4D; 
  border-color: #858585; 
} 
 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 
 
.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #1A1A1A; 
  border-color: #858585; 
} 
 
.btn-login .badge { 
  color: #1A1A1A; 
  background-color: #ffffff; 
}